# ML MODELS AND ANALYSES FOR EV AND ICE VEHICLE EMISSIONS

This notebook variables and dataframes from the ev_and_ice_vehicle_datasets.ipynb to create machine learning models and create predictions.

## IMPORTED LIBRARIES

In [42]:
# Supports dataframes and data anlysis
import numpy as np
import pandas as pd

In [43]:
# Supports data preparation for machine learning models
from sklearn import datasets
from sklearn.datasets import make_blobs
from sklearn import metrics
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
#from sklearn.cluster import Kmeans
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from sklearn.datasets import make_regression
from sklearn.datasets import make_swiss_roll
#import pipeline_utilities as p_utils
# from ml_utils import train_test_split_marketing
# from ml_utils import fill_missing
# from ml_utils import build_encoders
# from ml_utils import encode_categorical
# from ml_utils import build_target_encoder
# from ml_utils import encode_target

In [44]:
# Supports machine learning
# UNSUPERVISED LEARNING
import pydotplus
from sklearn.cluster import AgglomerativeClustering
from sklearn.cluster import Birch
from sklearn.decomposition import PCA

# SUPERVISED LEARNING
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC 
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.datasets import load_iris
import pydotplus
from IPython.display import Image
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier

In [45]:
# Supports machine learning model evaluation
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics  import balanced_accuracy_score
from sklearn.metrics import roc_auc_score

In [46]:
# Included to ignore any warning dialoge generated
import warnings
warnings.filterwarnings('ignore')

## IMPORTED DATASETS
ICE VEHICLE DATAFRAMES
* **vehicle_emission_standards** - ice fuel efficency standards (mpg) from 1978 through 2031
* **real_world_emissions** - real-world ice fuel efficiency (mpg) and emissions (CO2 g/mi) by class from 1975 to 2023
* **mean_real_world_emissions_by_class** - mean real-world fuel efficiency (mpg) and emissions (CO2 g/mi) by vehicle class\


ELECTRIC VEHICLE DATAFRAMES
* **BEV_PHEV_stock** - global stock (millons of units) of BEV and PHEVs by country from 2013 through 2023
* **global_EV_sales** - global sales (millons of units) of all EV sales by country from 2012 through Q1 2024
* **ev_outlook_US_hist** - historic EV/BEV/PHEV share (%) sales and stock (millions of units) from 2010 through 2023
* **ev_outlook_US_proj_STEPS** - historic and projected EV/BEV/PHEV share (%) sales and stock (millions of units) based on stated policies from 2010 through 2035
* **ev_outlook_US_proj_APS** - historic and projected EV/BEV/PHEV share (%) sales and stock (millions of units) based on announced pledges from 2020 through 2035
* **BEV_and_ICE_lifecycle_GHG** - ice fuel effciency standards from 1978 through 2031\


ELECTRICITY DATAFRAMES
* **net_generation** - net electricity generation (thousand MWh) for all sectors energy in US from 2010 to 2023
* **sector_elec_consumption** - electricity consumption for all energy sectors in US from 2010 to 2023\


US GHG DATAFRAMES
* **emissions_by_econ_sector** - ice fuel effciency standards from 1978 through 2031
* **avoided_emissions_2035_proj** - projected net avoided vehicle lifecycle emission (mmt CO2e) based on stated policies, announced pledges and net zero emission scenarios from 2023 to 2035
* **share_avoided_emissions_2035_proj** - projected share of net avoided vehicle lifecycle emission (%) by EV type based on stated policies, announced pledges and net zero emission scenarios from 2023 to 2035
* **lifecycle_GHG_2023_2035** - lifecycle emissions (t CO2e/vehicle) by powertrain\

In [47]:
# Supports accessing the variables and dataframes in this notebook from another notebook
import os
from datetime import datetime, timedelta

# Runs the code in ev_and_ice_vehicle_datasets.ipynb making its variables and dataframes available in this notebook
%run ev_and_ice_vehicle_datasets.ipynb

'vehicle_emission_standards (mpg, 1978 to 2031)'

   Model Year  Passenger Cars  Light-Duty Trucks
0        1978            18.0                0.0
1        1979            19.0                0.0
2        1980            20.0                0.0
3        1981            22.0                0.0
4        1982            24.0               17.5

'real_world_emissions, 1975 to 2022'

,Model Year,Regulatory Class,Vehicle Type,Production Share,Real-World MPG,Real-World MPG_City,Real-World MPG_Hwy,Real-World CO2 (g/mi),Real-World CO2_City (g/mi),Real-World CO2_Hwy (g/mi),Weight (lbs),Horsepower (HP),Footprint (sq. ft.)
0,1975,All,All,1,13.05970,12.01552,14.61167,680.59612,739.73800,608.31160,4060.399,137.3346,-
1,1975,Car,All Car,0.806646,13.45483,12.31413,15.17266,660.63740,721.82935,585.84724,4057.494,136.1964,-
2,1975,Car,Sedan/Wagon,0.805645,13.45833,12.31742,15.17643,660.46603,721.63673,585.70185,4057.565,136.2256,-
3,1975,Truck,All Truck,0.193354,11.63431,10.91165,12.65900,763.86134,814.45060,702.03002,4072.518,142.0826,-
4,1975,Truck,Pickup,0.131322,11.91476,11.07827,13.12613,745.88139,802.20090,677.04643,4011.977,140.9365,-

'mean_real_world_emissions_by_class (mpg and CO2 g/mi)'

                  Real-World MPG  Real-World CO2 (g/mi)
Regulatory Class
All                    21.162975             429.240752
Car                    22.974299             407.142007
Truck                  17.824065             514.288718

'BEV_PHEV_stock (millions of units), 2013 to 2023'

,Year,China BEV,China PHEV,Europe BEV,Europe PHEV,United States BEV,United States PHEV,Rest of the world BEV,Rest of the world PHEV
0,2013,0.0,0.0,0.1,0.0,0.1,0.1,0.1,0.0
1,2014,0.1,0.0,0.1,0.1,0.1,0.2,0.1,0.0
2,2015,0.2,0.1,0.2,0.2,0.2,0.2,0.1,0.1
3,2016,0.5,0.2,0.3,0.3,0.3,0.3,0.1,0.1
4,2017,0.9,0.3,0.4,0.4,0.4,0.4,0.2,0.1

'global_EV_sales (millions of units), 2012 to Q1 2024'

   Year  China  Europe  United States  Rest of the world
0  2012    0.0     0.0            0.1                0.0
1  2013    0.0     0.1            0.1                0.0
2  2014    0.1     0.1            0.1                0.0
3  2015    0.2     0.2            0.1                0.0
4  2016    0.3     0.2            0.2                0.0

'ev_outlook_US_hist (millions of units, %), 2011 to 2035'

,region,category,parameter,mode,powertrain,year,unit,value
10667,USA,Historical,EV sales,Cars,BEV,2010,Vehicles,1200.00000
10668,USA,Historical,EV stock,Cars,BEV,2010,Vehicles,3800.00000
10669,USA,Historical,Oil displacement Mbd,Cars,EV,2010,Milion barrels per day,0.00016
10670,USA,Historical,"Oil displacement, million lge",Cars,EV,2010,"Oil displacement, million lge",9.40000
10671,USA,Historical,Electricity demand,Cars,EV,2010,GWh,96.00000
...,...,...,...,...,...,...,...,...
11115,USA,Historical,EV sales,Cars,FCEV,2023,Vehicles,3000.00000
11116,USA,Historical,EV stock,Cars,FCEV,2023,Vehicles,18000.00000
11117,USA,Historical,EV sales,Cars,PHEV,2023,Vehicles,290000.00000
11119,USA,Historical,"Oil displacement, million lge",Cars,EV,2023,"Oil displacement, million lge",9700.00000
11125,USA,Historical,Oil displacement Mbd,Cars,EV,2023,Milion barrels per day,0.17000

'ev_outlook_US_proj_STEPS (millions of units, %), 2011 to 2035'

,region,category,parameter,mode,powertrain,year,unit,value
10864,USA,Projection-STEPS,Oil displacement Mbd,Cars,EV,2020,Milion barrels per day,0.043
10866,USA,Projection-STEPS,"Oil displacement, million lge",Cars,EV,2020,"Oil displacement, million lge",2500.000
10877,USA,Projection-STEPS,Electricity demand,Cars,EV,2020,GWh,5400.000
10883,USA,Projection-STEPS,EV sales,Cars,BEV,2020,Vehicles,230000.000
10884,USA,Projection-STEPS,EV stock,Cars,BEV,2020,Vehicles,1100000.000
...,...,...,...,...,...,...,...,...
11340,USA,Projection-STEPS,Oil displacement Mbd,Cars,EV,2035,Milion barrels per day,2.500
11344,USA,Projection-STEPS,"Oil displacement, million lge",Cars,EV,2035,"Oil displacement, million lge",140000.000
11348,USA,Projection-STEPS,Electricity demand,Cars,EV,2035,GWh,460000.000
11349,USA,Projection-STEPS,EV stock share,Cars,EV,2035,percent,36.000
11353,USA,Projection-STEPS,EV sales share,Cars,EV,2035,percent,71.000

'ev_outlook_US_proj_APS (millions of units, %), 2011 to 2035'

,region,category,parameter,mode,powertrain,year,unit,value
10892,USA,Projection-APS,EV sales,Cars,BEV,2020,Vehicles,230000.0
10895,USA,Projection-APS,EV stock,Cars,BEV,2020,Vehicles,1100000.0
10896,USA,Projection-APS,EV sales,Cars,FCEV,2020,Vehicles,1200.0
10897,USA,Projection-APS,EV stock,Cars,FCEV,2020,Vehicles,9200.0
10898,USA,Projection-APS,EV sales,Cars,PHEV,2020,Vehicles,64000.0
...,...,...,...,...,...,...,...,...
11393,USA,Projection-APS,EV stock,Cars,BEV,2035,Vehicles,76000000.0
11394,USA,Projection-APS,EV stock,Cars,FCEV,2035,Vehicles,130000.0
11395,USA,Projection-APS,EV stock,Cars,PHEV,2035,Vehicles,14000000.0
11399,USA,Projection-APS,Oil displacement Mbd,Cars,EV,2035,Milion barrels per day,2.0
11403,USA,Projection-APS,"Oil displacement, million lge",Cars,EV,2035,"Oil displacement, million lge",120000.0

'BEV_and_ICE_lifecycle_GHG (tCO2e per vehicle)'

,Vehicle Type,Vehicle manufacturing,Batteries-assembly and other,Batteries-minerals,Electricity,Fuel cycle (well-to-wheel),Unnamed: 6
0,Battery electric vehicle - Base case,5.4,1.20,1.40,11.7,0.0,NaN
1,Battery electric vehicle - High-GHG minerals ...,5.4,1.20,2.80,11.7,0.0,NaN
2,Internal combustion engine vehicle,6.0,0.01,0.03,0.0,35.9,NaN

'net_generation (thousand MWh), 2010 to 2023'

,year,all fuels (utility-scale),coal,petroleum liquids,petroleum coke,natural gas,other gases,nuclear,conventional hydroelectric,other renewables,wind,all utility-scale solar,geothermal,biomass,wood and wood-derived fuels,other biomass,hydro-electric pumped storage,other,all solar,small-scale solar photovoltaic,all utility-scale solar
1,2010,4125060,1847290,23337,13724,987697,11313,806968,260203,0,94652,1212,15219,56089,37172,18917,-5501,12855,--,--,1212
2,2011,4100141,1733430,16086,14096,1013689,11566,790204,319355,0,120177,1818,15316,56671,37449,19222,-6421,14154,--,--,1818
3,2012,4047765,1514043,13403,9787,1225894,11898,769331,276240,0,140822,4327,15562,57622,37799,19823,-4950,13787,--,--,4327
4,2013,4065964,1581115,13820,13344,1124836,12853,789016,268565,0,167840,9036,15775,60858,40028,20830,-4681,13588,--,--,9036
5,2014,4093564.0,1581710.0,18276.0,11955.0,1126635.0,12022.0,797166.0,259367.0,0.0,181655.0,17691.0,15877.0,63989.0,42340.0,21650.0,-6174.0,13393.0,28924.0,11233.0,17691.0

'sector_elec_consumption (thousand tons coal, thousand barrels liquid, thousand tons coke, thousand Mcf NG), 2010 to 2023'

   year      coal petroleum liquids petroleum coke natural gas
1  2010  979684.0           40103.0         4994.0   7680185.0
2  2011  934938.0           27326.0         5012.0   7883865.0
3  2012  825734.0           22604.0         3675.0   9484710.0
4  2013  860729.0           23231.0         4852.0   8596299.0
5  2014  853634.0           31531.0         4412.0   8544387.0

'emissions_by_econ_sector (MMT CO2e), 1990 to 2022'

,Year,Transportation,Electricity Generation,Industry,Agriculture,Commercial,Residential,Total
0,1990,1521.4,1880.2,1723.3,595.9,447.0,345.6,6513.5
1,1991,1474.8,1874.4,1702.9,587.4,454.5,355.3,6449.2
2,1992,1533.8,1889.6,1729.3,587.5,450.0,361.8,6552.0
3,1993,1570.2,1965.0,1701.0,608.7,443.1,373.1,6661.2
4,1994,1624.5,1989.6,1719.7,612.2,446.1,363.8,6755.8

'avoided_emissions_2035_proj (MMT CO2e), 2023 to 2035'

   Year  STEPS   APS   NZE
0  2023    -130  -130 -120
1  2024    -180  -180 -200
2  2025    -240  -250 -310
3  2026    -320  -330 -440
4  2027    -420  -430 -600

'lifecycle_GHG_2023_2035 (t CO2e per vehicle), 2023 to 2035'

,Powertrain Type,Car production,Battery production,Well-to-tank,Tank-to-wheel,Grid decarbonisation impact
0,ICEV,3.7,0.0,11.5,30.9,0.0
1,HEV,3.7,0.1,9.8,26.3,0.0
2,PHEV,4.4,1.3,11.7,15.8,1.9
3,BEV,3.3,5.3,14.5,0.0,4.8
4,ICEV,3.7,0.0,8.1,26.4,0.0

In [48]:
# Added to show all columns in df display
pd.options.display.max_columns = None

## ICE VEHICLE EMISSIONS CONTRIBUTION

**ICE Vehicle Predicted Sales**

**ICE Vehicle Predicted Fuel Efficiency**

**Total ICE Vehicle Predicted GHG Emissions**

## ELECTRIC VEHICLE EMISSIONS CONTRIBUTION

**EV Predicted Sales**

**Electricity Generation Predicted GHG**

**EV Predicted GHG Emissions**